/* Eastnor Express */
.ee-head {
  text-align: center;
}

.ee-container {
  padding-left: 15px;
  padding-right: 15px;
}

h1.ee-head {
  font-family: Raleway,san-serif !important;
  font-size: 52px;
  font-weight: 300;
}

h2.ee-head {
  font-family: Raleway,san-serif !important;
  font-weight: 700;
  font-size: 24px;
}

.textwidget {
  font-family: "Open Sans",Arial;
}

.widget-title {
  padding-top: 10px;
}

.es-title h3 {
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 15px;
}

.es-notice {
    padding: 15px;
    background-color: #f0f0f0;
    border: 1px solid #0c0c0c;
    margin-bottom: 15px;
}

.es-notice h3 {
    padding-top: 0;
    font-size: 18px;
}

.es-housepoints {
  text-align: center;
  font-size: 24px;
  padding-bottom: 5px;
  border-radius: 25px;
  box-shadow: 0 0 15px #888888;
}

.es-housepoints h3 {
  font-size: 32px;
  color: #000;
  margin-bottom: 10px;
  padding-top: 0;
}

.es-housepoints-castle {
  background-color: #0070C0;
}

.es-housepoints-deerpark {
  background-color: #00B050;
}

.es-housepoints-landrover {
  background-color: #FFE068;
}

.es-housepoints-obelisk {
  background-color: #FF0000;
}

.potw-year h3 {
  padding-top: 0;
}
