#main-footer {background:#fff;}

#link-back-top {background:none;}

#main-content .ofsted .buttonlightgrey {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );}